/* ===========================
   VARIABLES DE COLOR
   =========================== */

:root {
  --color-crema: rgba(255, 246, 232);
  --color-rojo: rgba(255, 56, 60);
  --color-verde-azulado: rgba(37, 143, 150);
  --color-rosado: rgba(241, 147, 145);
  --color-verde-oscuro: rgba(42, 91, 91);
  --color-crema-oscuro: rgba(245, 209, 172);
}

/* ===========================
   bODY
   =========================== */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* ===========================
   COMPONENTES
   =========================== */
   

    /* ===========================
    NAVBAR
    =========================== */
    .navbar{
        width: 100%;
        border-bottom: 2px solid rgb(255, 244, 220);
        background-color: var(--color-crema);
        height: 7vh ;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navLink{
        text-decoration: none;
        color: black;
    }

    .navLink:hover{
        color: red;
        transition: all 0.1s ease-in-out;
    }

    .logo{
        width: 14vh;
        height: auto;
    }

    .searchbar{
        display: flex;
        padding: 10px 12px;
        background: gray;
        border-radius: 999px;
        color: white;

    }
        
    /* ===========================
    PRODUCT CARD
    =========================== */
    .producto-card{
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: aliceblue;
    }


/* ===========================
   PAGE SECTIONS (ABOUT, HOME, PRODUCTOS)
   =========================== */
.about, .home, .productos{
    display: flex;
    justify-content: center;
    align-items: center;
}


    /* ===========================
    HOME
    =========================== */

    .homeHero{
        background-image: url('../assets/tomate2.jpg');
        width: 100%;
        gap: 16px;
        background-size: cover;
        background-position: center;
        height: 50vh;
        color: var(--color-crema-oscuro);
        font-family: Arial, Helvetica, sans-serif;
    }

    .productos{
        flex-direction: column;
    }

    .homeHero__title{
        font-size: 48px;
        font-weight: bold;
    }
    .homeHero__subtitle{
        font-size: 24px;
    }


    .saberMasButton, .saberMasButton2{
        padding: 1vh 4vh;
        border: none;
        border-radius: 5px;
        background-color: var(--color-rojo);
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }

    .negro{
        background-color: rgb(44, 44, 44);
    }

/* ===========================
   PRODUCTOS GRID
   =========================== */
.productos-content{
    width: 100%;
    padding: 5vh;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

/* ===========================
   HEADERS
   =========================== */
h2{
    text-align: center;
    font-size: large;
    font-weight: bold;
}