

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navLink{
    text-decoration: none;
    color: black;
    
}

.navLink:hover{
    color: red;
    transition: all 0.3s ease-in-out;
    
    font-weight: bold;
}

.about, .home, .productos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.productos{
    flex-direction: column;
}

.productos-content{
    width: 100%;
    padding: 5vh;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.producto-card{
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;

}

h2{
    text-align: center;
    font-size: large;
    font-weight: bold;
}