@font-face {
    font-family: 'Commerce';
    src: url(assets/fonts/CommerceRegular.ttf);
}

@font-face {
    font-family: 'Baloo';
    src: url(assets/fonts/Baloo2-VariableFont_wght.ttf);
}

/* ===========================
   VARIABLES DE COLOR
   =========================== */

:root {
  --color-crema: rgba(255, 246, 232);
  --color-rojo: rgba(255, 56, 60);
  --color-verde-azulado: rgba(37, 143, 150);
  --color-rosado: rgba(241, 147, 145);
  --color-verde-oscuro: rgba(42, 91, 91);
  --color-crema-oscuro: rgba(245, 209, 172);
}

#root{
    height: 100%;
    width: 100%;
}

.rosa{
    background-color: var(--color-rosado) !important;
}
/* ===========================
   bODY
   =========================== */
body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo';
    font-size: 1.5rem;
}
/* ===========================
   COMPONENTES
   =========================== */
   

    /* ===========================
    NAVBAR
    =========================== */
    
    .navbar{
        width: 100%;
        border-bottom: 2px solid rgb(255, 244, 220);
        background-color: var(--color-crema);
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .adminNavbar{
        width: 100%;
        border-bottom: 2px solid rgb(0, 0, 0);
        background-color: white;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .navLink{
        text-decoration: none;
        color: black;
    }

    .navLink:hover{
        color: red;
        transition: all 0.1s ease-in-out;
    }

    .logo{
        width: 14vh;
        height: auto;
    }

    .searchbar{
        width: 250px;
        display: flex;
        padding: 0.5vh 1vh;
        background: gray;
        border-radius: 999px;
        color: white;
        flex-direction: column;

    }
    .searchbar__input{
        border: none;
        background: transparent;
        outline: none;
        color: white;
        font-size: 1rem;
    }
    .searchbar-results{
        width: 250px;
        max-height: 200px;
        overflow-y: auto;
        background: rgb(63, 63, 63);
        border-radius: 8px;
        scrollbar-width: medium;
        scrollbar-color: white;
    }

    .searchbar-results::-webkit-scrollbar {
    width: 8px;
}

    .searchbar-results::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 4px;
    }

    .searchbar-results::-webkit-scrollbar-track {
        background: rgb(63, 63, 63);
    }

    .searchbar-result-item{
        padding: 1vh;
        color: white;
        border: 1px solid white;
    }
        
    /* ===========================
    PRODUCT CARD
    =========================== */
    .producto-card{
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: aliceblue;
        color: black !important;
        
        width: 300px;
    }

    .producto-card p{
        font-size: 1.1rem;
    }


/* ===========================
   PAGE SECTIONS (ABOUT, HOME, PRODUCTOS)
   =========================== */
.about, .home, .productos{
    display: flex;
    justify-content: center;
    align-items: center;
}


    /* ===========================
    HOME
    =========================== */
    .home{
        flex-direction: column;
    }

    .homeHero{
        background-image: url('../assets/tomate2.jpg');
        width: 100%;
        gap: 16px;
        background-size: cover;
        background-position: center;
        height: 50vh;
        color: var(--color-crema-oscuro);
        /*font-family: Arial, Helvetica, sans-serif;*/
        font-family: 'Baloo';
        font-style: italic;
    }

    .productos{
        flex-direction: column;
    }

    .homeHero__title{
        font-weight: bold;
        font-size: 2em;
    }
    .homeHero__subtitle{
        display: none;
    }


    .saberMasButton, .saberMasButton2{
        padding: 1vh 4vh;
        border: none;
        border-radius: 5px;
        background-color: var(--color-rojo);
        color: white;
        cursor: pointer;
    }

    .negro{
        background-color: rgb(44, 44, 44);
    }

    .companyBrief{
        background-color: var(--color-crema);
        color: var(--color-verde-oscuro);
        font-family: 'Baloo';
        display: flex;
        flex-direction: column;
        padding: 5%;
        gap: 5vh;
    }

    .companyBriefContainer{
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
    
    .companyBrief_cards{
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .companyBrief_card{
        border: 2px solid black;
        border-radius: 10px;
        background-color: var(--color-crema-oscuro);
        padding: 1vh;
        text-align: center;
    }

    .homeFinal{
        background-color: var(--color-verde-azulado);
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh;
        text-align: center  ;
        min-height: 60vh;
    }

    .textoCard{
        font-size: 1.2rem;
    }

/* ===========================
   PRODUCTOS GRID
   =========================== */
.productos-content{
    width: 100%;
    padding: 5vh;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5%;
}

/* ===========================
   ADMIN PAGES
   =========================== */

.loginSubmitButton{
    padding: 1vh 4vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--color-verde-azulado);
    color: white;
    cursor: pointer;
}
.loginSubmitButton:hover{
    background-color: var(--color-verde-oscuro);
    transition: all 0.2s ease-in-out;
}
/* ===========================
   HEADERS
   =========================== */
h2{
    text-align: center;
}



/* ===========================
   MEDIA QUERIES
   =========================== */

@media (min-width: 640px) {

  .navbar, .adminNavbar {
    flex-direction: row;
    height: 7vh;
  }

  .homeHero__subtitle{
        display: block;
    }

    .companyBrief_cards{
        flex-direction: row;
        gap: 2vh;
    }
}